[user]
	name = Stephen Fowler
	email = stephen.fowler@changepoint.com
[mergetool "beyondcompare"]
	cmd = /cygdrive/c/Program\\ Files\\ \\(x86\\)/Beyond\\ Compare\\ 3/bcomp.exe `cygpath -wa \"$LOCAL\"` `cygpath -wa \"$REMOTE\"` `cygpath -wa \"$BASE\"` `cygpath -wa \"$MERGED\"`
[merge]
	tool = beyondcompare
[color]
	ui = auto
[push]
	default = simple
